:root {
  --border-color: #291d4d;
  --dialog-background: #fff3b4;

  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: visible;
  font-family: "Ribeye", cursive;
}
.how-to-play {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.game-container {
  position: relative;
  background: #d9f4ff;
  width: 880px;
  height: 1173px;
  margin: 0 auto;
  outline: 1px solid #fff;
  margin-top: 10px;

  /* /transform: scale(3) translateY(50%); */
}
#sleep {
  position: absolute;
  left: 610px;
  top: 370px;
}

#music {
  position: absolute;
  left: 500px;
  top: 170px;
}

#battle {
  position: absolute;
  left: 200px;
  top: 615px;
}
.game-container canvas {
  image-rendering: pixelated;
}
