:root {
  --border-color: #291d4d;
  --dialog-background: #fff3b4;

  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: visible;
  font-family: "Ribeye", cursive;
}
.how-to-play {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.game-container {
  position: relative;
  background: #d9f4ff;
  width: 880px;
  height: 1173px;
  margin: 0 auto;
  outline: 1px solid #fff;
  margin-top: 10px;

  /* /transform: scale(3) translateY(50%); */
}
#sleep {
  position: absolute;
  left: 610px;
  top: 370px;
}

#music {
  position: absolute;
  left: 500px;
  top: 170px;
}

#city {
  position: absolute;
  left: 200px;
  top: 615px;
}

#cityDay {
  position: absolute;
  left: 410px;
  top: 525px;
}

#moon {
  position: absolute;
  left: 500px;
  top: 660px;
}
.game-container canvas {
  image-rendering: pixelated;
}

/* quick reset and base styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: helvetica, arial, sans-serif;
}

/* relevant styles */
.img__wrap {
  position: absolute;
}

.img__description_layer {
  position: absolute;
  left: 210px;
  top: 590px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

/* relevant styles */
.img__wrap_moon {
  position: absolute;
}

.img__description_layer_moon {
  position: absolute;
  left: 530px;
  top: 635px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap_moon:hover .img__description_layer_moon {
  visibility: visible;
  opacity: 1;
}

.img__description_moon {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap_moon:hover .img__description_moon {
  transform: translateY(0);
}

/* relevant styles */
.img__wrap_city {
  position: absolute;
}

.img__description_layer_city {
  position: absolute;
  left: 425px;
  top: 500px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap_city:hover .img__description_layer_city {
  visibility: visible;
  opacity: 1;
}

.img__description_city {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap_city:hover .img__description_city {
  transform: translateY(0);
}

/* relevant styles */
.img__wrap_sleep {
  position: absolute;
}

.img__description_layer_sleep {
  position: absolute;
  left: 670px;
  top: 400px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap_sleep:hover .img__description_layer_sleep {
  visibility: visible;
  opacity: 1;
}

.img__description_sleep {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap_sleep:hover .img__description_sleep {
  transform: translateY(0);
}

/* relevant styles */
.img__wrap_music {
  position: absolute;
}

.img__description_layer_music {
  position: absolute;
  left: 520px;
  top: 160px;
  padding-left: 5px;
  padding-right: 5px;
  background: #957dad;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap_music:hover .img__description_layer_music {
  visibility: visible;
  opacity: 1;
}

.img__description_music {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap_music:hover .img__description_music {
  transform: translateY(0);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 50rem;
  height: 30rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
